* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    --background: rgb(28, 30, 38);
    --foreground: rgb(255, 235, 205);
    --border: rgb(31, 33, 43);
    --highlight-background: rgb(34, 35, 46);
    --highlight-foreground: white;
    --important: rgb(133, 0, 0);
}

/* HELPER CLASSES =============================== */

.col, .row {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.cards {
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

/* LAYOUT =============================== */

body {
    height: 100vh;
}

main {
    gap: 1rem;
    grid-template-areas: 
        "top-left top-row top-row"
        "left-col center-col right-col"
        "bottom-row bottom-row bottom-row";
}

.top-left {
    grid-area: top-left;
}

.top-row {
    grid-area: top-row;
}

.bottom-row {
    grid-area: bottom-row;
}

.left-col {
    grid-area: left-col;
}

.center-col {
    grid-area: center-col;
}

.right-col {
    grid-area: right-col;
}

/* STYLING =============================== */

body {
    background-color: var(--background);
    color: var(--foreground);
    border-color: var(--foreground);
    margin: 1rem;
}

a {
    color: var(--important);
}

footer, .top-row, .basic-stats {
    align-items: center;
    justify-content: space-between;
}

footer {
    margin-top: 1rem;
}

h1, h2, h3, p {
    margin: 0;
}

h3 {
    font-size: 1rem;
}

section, .bordered {
    border: 1px solid;
    border-radius: .25rem;
    background-color: var(--highlight-background);
    padding: .5rem;
}

.top-left {
    justify-content: center;
}

.stat-card {
    align-items: center;
    height: 100%;
}

.fig-l {
    font-size: 2rem;
}

.save {
    font-size: 1.25rem;
}

.num-death-saves {
    font-size: 2.5rem;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: var(--highlight-background);
    border: 1px solid var(--foreground);
    width: 1.5rem; height: 1.5rem;
    margin-top: .5rem;
    border-radius: .25rem;
}

input:checked {
    box-shadow: inset 0 0 0 .5rem var(--highlight-background);
    background-color: var(--foreground);
}